.Todo {
  display: flex;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid rgba(245, 245, 245, 0.2);
  border-radius: 10px;
  padding: 5px 0px;
}
.text {
  flex: 1;
  text-align: left;
  padding: 10px 5px;
  font-size: 24px;
}

.ischecked {
  text-decoration: line-through;
  text-decoration-color: red;
}

.Todo > input[type="checkbox"] {
  height: 40px;
  width: 40px;
  outline: 2px solid rgba(245, 245, 245, 0.2);
  margin: 0px 8px;
}
.Todo > button {
  padding: 10px 5px;
  font-size: 24px;
  margin: 0px 8px;
  border: 1px solid rgba(245, 245, 245, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
}
