/*logo-color:#61DAFB */
* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  height: 100%;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
